.notes {
    border: 5px;
    border-style: solid;
    border-color: rgb(200, 174, 224);
    height: fit-content;
    border-radius: 10px;
}

#flexdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding-top: 4em;
}

#flex1 {
    margin-left: 2em;
    max-width: 25vw;
    /* padding-top: .5em; */
}

#flex2 {
    max-width: 30vw;
}

#flex3 {
    max-width: 25vw;
    margin-right: 2em;
    padding-bottom: 2em;
}

#usersDisp {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30vw;
    margin-bottom: 5%;
    margin-top: 2.5%;
}